$white: #ffffff;
$grey: #f7f3f2;
$light-grey: #e3e3e3;
$black: #444444;
$button: #FF4E50;
$person-descr: #666666;
$person-name: #444444;
$person1-logo: #ff4e50;
$person2-logo: #dadada;
$person3-logo: #ffa710;
$person4-logo: #667df3;
$link: #999999;
$footer-logo: #cccccc;