footer
  span
    hr(color='$person1-logo')
  .footer-container
    .footer-container__title
      span.footer-container__title__font DREAMSHARE
    .footer-container__company
      span.footer-container__company__font Company
      .footer-container__company__list
        ul
          li
            a(href='') About
          li
            a(href='') Contact
          li
            a(href='') Press
          li
            a(href='') Blog
          li
            a(href='') Themes &amp; Privacy
          li
            a(href='') Help
    .footer-container__partners
      span.footer-container__partners__font Partners
    .footer-container__logo
      span.footer-container__logo__font DESIGNET BY
      img(src='css/basic/images/Logo-min.jpg', alt='Logo')