header
  .first-slide
  .second-slide
  .third-slide
  .forth-slide
  .fifth-slide
  .sixth-slide
  .logo-box
    span.logo-box__font DREAMSHARE
  nav.menu-box
    button.menu-box__button
      span.menu-box__button__font Log in
    button.menu-box__button
      span.menu-box__button__font Sign up
  .header-container
    span.header-container__header
      | SHARE YOUR 
      br
      |  HOLIDAY DREAM
    span.header-container__subheader And find the perfect partner to fullfill it
    button.header-container__button Find your holiday partner