main
  section.first-section
    span.first-section__header How Dreamshare works?
    .instructions
      .instructions__first-box
        .instructions__first-box__logo
          span.instructions__first-box__logo__font STEP 1
        .instructions__first-box__description
          span.instructions__first-box__description__header Sed leo enim, condimentum
          span.instructions__first-box__description__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Accusantium ut incidunt necessitatibus minus odit dolor sequi dolores?
      .instructions__second-box
        .instructions__second-box__logo
          span.instructions__second-box__logo__font STEP 2
        .instructions__second-box__description
          span.instructions__second-box__description__header Morbi velit risus
          span.instructions__second-box__description__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Accusantium ut incidunt necessitatibus minus odit dolor sequi dolores?
      .instructions__third-box
        .instructions__third-box__logo
          span.instructions__third-box__logo__font STEP 3
        .instructions__third-box__description
          span.instructions__third-box__description__header Sed leo enim, condimentum
          span.instructions__third-box__description__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Accusantium ut incidunt necessitatibus minus odit dolor sequi dolores?
  section.second-section
    span.second-section__header Meet a partner for your best holiday
    .partners
      .partners__first-box
        .partners__first-box__photo
          .partners__first-box__photo__logo
            img(src='css/basic/extensions/Music.svg', alt='Music')
        span.partners__first-box__name Bradley Hunter
        span.partners__first-box__description
          | Based in Chicago. I love playing tennis and loud 
          br
          |  music.
      .partners__second-box
        .partners__second-box__photo
          .partners__second-box__photo__logo
            img(src='css/basic/extensions/Brush.svg', alt='Brush')
        span.partners__second-box__name Marie Bennett
        span.partners__second-box__description Currently living in Colorado. Lover of art, languages and travelling.
      .partners__third-box
        .partners__third-box__photo
          .partners__third-box__photo__logo
            img(src='css/basic/extensions/Camera.svg', alt='Camera')
        span.partners__third-box__name Diana Wells
        span.partners__third-box__description
          | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
      .partners__forth-box
        .partners__forth-box__photo
          .partners__forth-box__photo__logo
            img(src='css/basic/extensions/Airplane.svg', alt='Airplane')
        span.partners__forth-box__name Christopher Pierce
        span.partners__forth-box__description Star Wars fanatic. I have a persistent enthusiasm to create new things.
    button.second-section__button See others partners
  section.third-section
    span.third-section__header Discover holiday activity ideas
    .activity-galery
      .activity-galery__sport
        span.activity-galery__text Sports and Activis
      .activity-galery__wellness
        span.activity-galery__text Wellness and Health
      .activity-galery__extreme
        span.activity-galery__text
          | Exterme Sports 
          br
          |  and Expeditions
      .activity-galery__games
        span.activity-galery__text Games
      .activity-galery__culture
        span.activity-galery__text Culture and Education
      .activity-galery__enjoyment
        span.activity-galery__text Enjoyment and Relaxation
      .activity-galery__traveling
        span.activity-galery__text Traveling
  section.forth-section
    span.forth-section__header Create your holiday activity
    span.forth-section__subheader Hi! What are your holiday interests?
    form.forth-section__form(action='#', name='search')
      input.forth-section__form__input(type='text', placeholder='Enter your interests')
      button.forth-section__form__button Search partners